@charset "utf-8";
/* CSS Document */
body{
background-color:#fffda7;
}

.HepGetir{
	margin-top:20px;
}

.tablo{
	width:100%;
	
}
#btnGetir{
	width:150px;
	height:40px;

}
#btnEkle{
	width:150px;
	height:40px;
	
}
#btnGuncelle{
	width:100px;
	height:40px;
}
#btnSil{
	width:150px;
	height:40px;
}
#btnHepsinigetir{
	width:150px;
	height:40px;
	
}

.logo{
	margin-top:50px;
	
	
}
